<div class="container-fluid">
	<section>
		<div class="tips_box clearfix">申请签约</div>
	</section>
	<section class="clearfix">
		<nav class="nav ">
		  <a class="nav-link" href="javascript:" [ngClass]="{'active':tabIndex==1}" (click)="changeSegment(1)">申请签约</a>
		  <a class="nav-link" href="javascript:" [ngClass]="{'active':tabIndex==2}" (click)="changeSegment(2)">申请结果</a>
		</nav>
	</section>
	<section class="content_box">
		<div class="apply_box" *ngIf="tabIndex==1">
			<div class="row">
			  	<div class="col-2">作品选择</div>
			  	<div class="col-5">
				  	<select name="book" class="form-control" [(ngModel)]="book">
						<option value="" style="display: none;">作品选择</option>
			     		<option *ngFor="let book of bookList" [value]="book.value">
			       		{{book.name}}
			    		</option>
			    	</select>
			    	<div>的奇偶文件都IE解耦我的姐诶偶的奇偶</div>
					<div>的哦我激动呢我就打开我的健康</div>
			    </div>
			</div>
			
			<div class="row number_text">
				<div class="col-2">联系方式</div>
				<div class="col-5">
					<label *ngFor="let type of number_types;">
	      				<input type="radio" name="number_type" [(ngModel)]="number_type" [value]="type.value">
	            		{{type.display}}
	            	</label>
				</div>
			</div>
			<div class="row number_text">
				<div class="col-2"></div>
				<div class="col-5">
					<input class="form-control" type="text" name="numberStr" placeholder="" [(ngModel)]="numberStr">
				</div>
			</div>
			<div class="row">
				<div class="col-2">作品简介</div>
				<div class="col-7">
					<textarea class="form-control introduce_text" id="exampleTextarea"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-7">
					<button type="button" class="btn btn-primary btn-sm">提交</button>
				</div>
			</div>
		</div>
		<div class="apply_result" *ngIf="tabIndex==2">
			<table>
				<thead>
					<tr>
						<td>书籍名称</td>
						<td>申请时间</td>
						<td>处理事件</td>
						<td>状态</td>
						<td>备注</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>《hi哦》</td>
						<td>2017-09-23 15:30:20</td>
						<td>2017-09-23 15:30:20</td>
						<td>审核中</td>
						<td>...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</div>