table{
	border-collapse: collapse;
	width: 100%;
}
td{
	width: 25%;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	color: rgb(41,42,44);
}
thead td{
	background: rgb(246,246,246);
	color: rgb(163,163,163);
}
tbody td{
	border-bottom: 1px dotted rgb(229,229,229)
}
