<div class="container-fluid">
	<div class="data_box row">
		<div class="col-6 col-sm-3">
			<div class="total_subscribe rounded">
				<div class="sub_title">总点击数</div>
				<div class="count_info"><span>{{subscribeData.total_subscribe}}</span></div>
			</div>
		</div>
		<div class="col-6 col-sm-3">
			<div class="new_subscribe rounded">
				<div class="sub_title">昨日新增点击数</div>
				<div class="count_info"><span>{{subscribeData.new_subscribe}}</span></div>
			</div>
		</div>
		<div class="col-6 col-sm-3">
			<div class="weeks_subscribe rounded">
				<div class="sub_title">近一周点击数</div>
				<div class="count_info"><span>{{subscribeData.weeks_subscribe}}</span></div>
			</div>
		</div>
		<div class="col-6 col-sm-3">
			<div class="month_subscribe rounded">
				<div class="sub_title">近一月点击数</div>
				<div class="count_info"><span>{{subscribeData.month_subscribe}}</span></div>
			</div>
		</div>
	</div>
	<div class="table_box">
		<div>点击明细<span>解耦我京东我将额外</span></div>
		<table>
			<thead>
				<tr>
					<td>日期</td>
					<td>点击次数</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let info of redList">
					<td>{{info.pubDate}}</td>
					<td>{{info.number}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
